@{
    ViewBag.Title = "Planner";
}

<div class="jumbotron">
    <div class="row">     
        <a href="#my-modal" data-toggle="modal" class="btn btn-primary add-task" style="float: right; margin-bottom: 5px;">Добавить</a>
        <div id="task-list">

        </div>
    </div>   
</div>

<div id="my-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>